<iframe [src]="document" [style.transform]="'scale(' + zoomLevel + ')'"></iframe>

<div class="zoom-controls">
  <button (click)="zoomIn()">+</button>
  <button (click)="zoomOut()">-</button>
</div>

<div class="annotation" *ngFor="let annotation of annotations" [style.left]="annotation.x + 'px'" [style.top]="annotation.y + 'px'" (click)="selectAnnotation(annotation)" (mousedown)="selectAnnotation(annotation)" (mousemove)="moveAnnotation($event)">
  <div class="annotation-content">
    {{ annotation.content }}
  </div>
  <div class="annotation-controls">
    <button (click)="deleteAnnotation()">Delete</button>
  </div>
</div>

<button (click)="saveAnnotations()">Save Annotations</button>
