<button id="plus-button" (click)="zoomIn()">+</button>
<button id="negative-button" (click)="zoomOut()">-</button>
<div class="title">Test Doc</div>
<div class="container" (click)="showPopup($event)">
  <div class="page" *ngFor="let page of [1, 2, 3, 4, 5]">
    <img src="assets/documents/{{ page }}.png" alt="Page {{ page }}" />
    <div class="page-number">Page {{ page }}</div>
  </div>
</div>
isPopupOpen: {{isPopupOpen}}
<div class="popup" *ngIf="isPopupOpen" [style.left.px]="position.x" [style.top.px]="position.y">
  <div class="popup-header">
    <div class="container-buttons">
    	<div class="picture button">Picture</div>
    	<div class="inscription button">Inscription</div>
    </div>
  </div>
</div>

